<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="GrossWeightMin" value="44.80"/>
    <add key="GrossWeightMax" value="45.99"/>
    <add key="DeadWeightMin" value="20.79"/>
    <add key="DeadWeightMax" value="21.99"/>
    <add key="MaxNetWeight" value="20000000"/>
  </appSettings>
</configuration>